<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </header>
    <h1>Login Page</h1>
    <form action="/login" method="post">
        <input type="text" placeholder="put your email : example@gmail.com" name="email">
        <input type="password" placeholder="write your password" name="password">
        
        <button type="submit">Log in</button>
    </form>
    
</body>
</html>